<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
    <h4>Contactează-ne!</h4>
    <div class="input-container">
      <input
        type="text"
        placeholder=" "
        id="nameInput"
        [formControlName]="contactFormControls.NAME"
      />
      <label for="nameInput" class="placeholder">Nume și prenume</label>
      <app-form-error-message
        [control]="contactForm.controls[contactFormControls.NAME]"
      ></app-form-error-message>
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder=" "
        id="emailInput"
        [formControlName]="contactFormControls.EMAIL"
      />
      <label for="emailInput" class="placeholder">Adresă de email</label>
      <app-form-error-message
        [control]="contactForm.controls[contactFormControls.EMAIL]"
      ></app-form-error-message>
    </div>

    <div class="input-container">
      <textarea
        type="text"
        placeholder=" "
        id="messageInput"
        [formControlName]="contactFormControls.MESSAGE"
      ></textarea>
      <label for="messageInput" class="placeholder">Mesaj</label>
      <app-form-error-message
        [control]="contactForm.controls[contactFormControls.MESSAGE]"
      ></app-form-error-message>
    </div>

    <button type="submit" [disabled]="!contactForm.valid">Trimite mesaj</button>
  </form>

  <div class="corner-animation">
    <img src="contact-block.png" alt="Contact">
  </div>
</div>
