<nav>
  <a [href]="navigation.home.href"
    ><img class="logo" src="logo-text.svg" alt="Dcbytes"
  /></a>
  <div class="links-container">
    <app-nav-entry
      [mainTitle]="navigation.about.title"
      [href]="navigation.about.href"
    />
    <app-nav-entry
      [mainTitle]="navigation.services.title"
      [href]="navigation.services.href"
    />
    <app-nav-entry
      [mainTitle]="navigation.process.title"
      [href]="navigation.process.href"
    />
    <app-nav-entry
      [mainTitle]="navigation.portfolio.title"
      [href]="navigation.portfolio.href"
    />
    <app-nav-entry
      [mainTitle]="navigation.pricing.title"
      [href]="navigation.pricing.href"
    />
    <a [href]="navigation.contact.href"
      ><button>{{ navigation.contact.title }}</button></a
    >
  </div>
  <img
    [src]="
      (drawerOpened$ | async) ? 'navbar/burger-close.png' : 'navbar/burger.png'
    "
    alt="Menu"
    class="burger"
    (click)="toggleDrawer()"
  />
</nav>

<div class="navbar-blur-effect-container"></div>
