<div *ngIf="control.errors && control.dirty">
  <div [ngSwitch]="control.errors | firstKey">
    <div *ngSwitchCase="'required'">
      <small class="danger">This field is required</small>
    </div>
    <div *ngSwitchCase="'minlength'">
      <small class="danger">This field is too short</small>
    </div>
    <div *ngSwitchCase="'email'">
      <small class="danger">This field must be a valid email</small>
    </div>
    <div *ngSwitchCase="'mismatch'">
      <small class="danger">Passwords do not match</small>
    </div>
    <div *ngSwitchDefault>
      <small class="danger">An error occurred</small>
    </div>
  </div>
</div>

