@use "../../../styles/dimens";

.drawer {
  height: 100%;
  position: fixed;
  z-index: 2;
  float: left;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;

  a {
    padding-bottom: 14px;
  }

  @media (min-width: map-get(dimens.$breakpoints, xl)) {
    display: none;
  }
}

.drawer-content-hidden {
  display: none;
}

.drawer-content-visible {
  opacity: 0; /* Start with opacity 0 */
  display: flex;
  animation: fadeIn 0.15s ease forwards; /* Add animation */
  animation-delay: 0.2s;
  will-change: opacity;
}

.fake-drawer-strip {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: dimens.$navbar-height;
  left: 0;
  z-index: 1;

  @media (min-width: map-get(dimens.$breakpoints, xl)) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
