@use "./colors";

textarea {
  height: 150px !important;
  padding: 8px 16px !important;
}

input, textarea {
  border: 1px solid map-get(colors.$colors, input-inactive);
  height: 50px;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 16px;
  color: black;

  &:focus {
    outline: none;
    border-color: map-get(colors.$colors, input-active);
  }

  &:focus ~ label,
  &:not(:placeholder-shown) ~ label {
    transform: translateY(-32px);
    font-size: 12px;
    color: map-get(colors.$colors, input-active);
  }
}

label.placeholder {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: 16px;
  color: #999;
  transition: 0.2s ease all;
  pointer-events: none;
}

