@use "./dimens";

* {
  font-family: "Space Grotesk", sans-serif;
}

a {
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 43px;
  }
}

h2 {
  font-size: 40px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 36px;
  }
}

h3 {
  font-size: 30px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 26px;
  }
}

h4 {
  font-size: 20px;
  font-weight: normal;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 18px;
  }
}

p,
span {
  font-size: 18px;
  font-weight: 400;

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    font-size: 16px;
  }
}

.hero {
  h1 {
    font-size: 45px;
    font-weight: 600;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  span,
  p {
    font-size: 18px;
  }

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    h1,
    h2 {
      font-size: 25px;
    }
  }
}

.bold {
  font-weight: 600;
}
