<div class="pricing-container">
  <div class="pricing-col">
    <app-label label="Pachet compact"></app-label>
    <span
      >Pachetul Compact include o pagină unică, cu text și imagini dinamice, un
      formular de contact integrat pentru a facilita comunicarea cu clienții, și
      o adresă de email pentru a-ți întări prezența profesională online</span
    >
    <a [href]="navigation.contact.href">
      <div class="price-link">600 RON <img src="up-arrow.svg" alt="" /></div>
    </a>
    <div>
      <span class="subtle-price-per-month"
        >+ 50 RON / lună - mentenanță</span
      >
      <br />
      <span class="subtle-price-per-month opaq">Hosting inclus</span>
    </div>
  </div>
  <div class="pricing-col">
    <app-label label="Pachet express"></app-label>
    <span
      >Pagini multiple pentru a evidenția serviciile tale, funcționalitate
      eCommerce pentru a vinde produsele online, un blog personalizat pentru a
      atrage și informa vizitatorii, precum și subdomenii pentru a organiza
      eficient diferitele segmente ale afacerii tale</span
    >
    <a [href]="navigation.contact.href">
      <div class="price-link">1500 RON <img src="up-arrow.svg" alt="" /></div>
    </a>
    <div>
      <span class="subtle-price-per-month"
        >+ 70 RON / lună - mentenanță</span
      >
      <br />
      <span class="subtle-price-per-month opaq">Hosting inclus</span>
    </div>
  </div>
  <div class="pricing-col">
    <app-label label="Pachet premium"></app-label>
    <span
      >Extinde pachetul Express si ofera soluții personalizate pentru orice tip
      de provocare pe care o poți întâmpina în mediul digital. Include toate
      caracteristicile pachetului Compact și Express, dar cu un accent
      suplimentar pe personalizare și adaptabilitate</span
    >
    <a [href]="navigation.contact.href">
      <div class="price-link">
        Programează o întâlnire <img src="up-arrow.svg" alt="" />
      </div>
    </a>
  </div>
</div>
