@use "../../../styles/colors";
@use "../../../styles/dimens";

.service-display-container {
  display: flex;
  width: 600px;
  height: 360px;
  // This is to interact with other boxes
  flex: 1;

  justify-content: space-between;
  padding: 60px 40px;
  gap: 20px;

  @media (max-width: map-get(dimens.$breakpoints, xl)) {
    width: 400px;
    padding: 40px 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: map-get(dimens.$breakpoints, lg)) {
    width: 300px;
  }

  img {
    width: 60%;

    @media (max-width: map-get(dimens.$breakpoints, xl)) {
      max-width: 150px;
      max-height: 150px;
    }
  }

  &.green {
    background-color: map-get(colors.$colors, primary);
  }

  &.gray {
    background-color: #f3f3f3;
  }

  &.black {
    background-color: #191a23;
    .learn-more-container {
      color: white;
    }
  }

  border-radius: 45px;
  box-shadow:
    0 0 10px 0 rgba(0, 0, 0, 1),
    0 5px 0 0 rgba(0, 0, 0, 1);
}

.label-and-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 210px;
  gap: 50px;

  @media (max-width: map-get(dimens.$breakpoints, xl)) {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .label {
    width: 180px;

    @media (max-width: map-get(dimens.$breakpoints, xl)) {
      width: 100%;
    }
  }
}
