<div
  [class]="'service-display-container ' + colorClass"
  [ngClass]="{ 'presentation-website': isPresentationWebsite }"
>
  <div
    class="label-and-description-container"
    [ngClass]="{ 'presentation-website': isPresentationWebsite }"
  >
    <app-label
      class="label"
      [label]="labelTitle"
      [colorClass]="
        colorClass === 'green' || colorClass === 'black' ? 'white' : 'green'
      "
    ></app-label>

    <div class="learn-more-container">
      <h4>{{ description }}</h4>
    </div>
  </div>
  <img
    [src]="image"
    [alt]="labelTitle"
    [class]="isPresentationWebsite ? 'presentation' : ''"
    (click)="handlePresentationClick()"
  />
</div>
