@use "../../../styles/colors";

.label {
  color: black;
  padding: 0 0.4rem;
  border-radius: 7px;
  display: inline;
  box-decoration-break: clone;

  &.green {
    background-color: map-get(colors.$colors, primary);
  }

  &.white {
    background-color: white;
  }
}
