@use "../../../styles/dimens";

.main-page {
  display: flex;
  max-width: 1200px;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
}

.info-sections-container {
  display: flex;
  flex-direction: column;
  gap: 120px;

  @media (min-width: map-get(dimens.$breakpoints, sm)) {
    padding: map-get(dimens.$container-paddings, md);
  }

  @media (max-width: map-get(dimens.$breakpoints, sm)) {
    margin-top: 200px;
    gap: 200px;
  }
}

.promo-container {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media (max-width: map-get(dimens.$breakpoints, lg)) {
    gap: 50px;
  }
}

.promo-pills-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.service-display-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    gap: 40px;

    @media (max-width: map-get(dimens.$breakpoints, sm)) {
      flex-direction: column;
    }
  }
}
