<div class="page-container container-padding">
  <app-hero
    mainTitle="Navigăm lumea digitală spre succesul tău"
    subtitle="Fie că ai nevoie de un site de prezentare, un magazin online sau o platformă personalizată, echipa noastră de experți creează soluții web moderne și performante. Te ajutăm să ieși în evidență în lumea digitală și să-ți crești afacerea."
  ></app-hero>

  <app-hero-description
    mainTitle="Soluții Digitale Complete pentru Afacerea Ta"
  >
    <span
      >Transformă-ți <span class="bold">prezența online</span> cu
      <span class="bold">site-uri web optimizate</span> și
      <span class="bold">strategii digitale</span> care îți cresc
      <span class="bold">vizibilitatea</span> și
      <span class="bold">eficiența</span>. Dcbytes oferă expertiză în trei
      domenii esențiale:
      <span class="bold"
        >dezvoltare web, optimizare pentru motoarele de căutare (SEO)</span
      >, și <span class="bold">integrare e-commerce</span> pentru creșterea
      vânzărilor.</span
    >
  </app-hero-description>
  <!-- <app-services></app-services> -->

  <div class="service-display-container">
    <div class="row">
      <app-service-displayer
        labelTitle="Magazin online"
        image="shopping.svg"
        description="Pentru succesul afacerii in mediul online"
        colorClass="green"
      ></app-service-displayer>
      <app-service-displayer
        labelTitle="Propriul tău blog"
        image="blog.svg"
        description="Pentru a-ți împărtăși pasiunile și cunoștințele"
        colorClass="gray"
      ></app-service-displayer>
    </div>
    <div class="row">
      <app-service-displayer
        labelTitle="Email personalizat"
        image="email.svg"
        description="Pentru o comunicare eficientă cu clienții tăi"
        colorClass="gray"
      ></app-service-displayer>
      <app-service-displayer
        labelTitle="SEO optimizat"
        image="seo.svg"
        description="Pentru a fi găsit mai ușor pe Google"
        colorClass="black"
      ></app-service-displayer>
    </div>
  </div>

  <app-promo-description
    promoTitle="Să transformăm ideile în realitate"
    promoDescription="Contactează-ne astăzi pentru a descoperi cum serviciile noastre de dezvoltare web pot ajuta afacerea ta să crească și să prospere online."
    buttonText="Solicită o ofertă"
    buttonLink="/contact"
    promoImage="web-development.svg"
    promoLottie="web.lottie.json"
  ></app-promo-description>

  <app-hero-description mainTitle="Costuri Transparente, Rezultate Durabile">
    <span
      >La Dcbytes, credem că <span class="bold">transparența</span> și
      <span class="bold">comunicarea deschisă</span> sunt esențiale pentru
      succesul unui proiect. Oferim
      <span class="bold">servicii de calitate</span> la
      <span class="bold">prețuri competitive</span>, astfel încât să
      <span class="bold">obții rezultate durabile</span> fără a-ți depăși
      bugetul.</span
    >
  </app-hero-description>
</div>
