<div class="page-container container-padding">
  <app-hero
    mainTitle="Navigăm lumea digitală spre succesul tău"
    subtitle="Fie că ai nevoie de un site de prezentare, un magazin online sau o platformă personalizată, echipa noastră de experți creează soluții web moderne și performante. Te ajutăm să ieși în evidență în lumea digitală și să-ți crești afacerea."
  ></app-hero>

  <app-hero-description
    mainTitle="Soluții Digitale Complete pentru Afacerea Ta"
  >
    <span
      >Transformă-ți <span class="bold">prezența online</span> cu
      <span class="bold">site-uri web optimizate</span> și
      <span class="bold">strategii digitale</span> care îți cresc
      <span class="bold">vizibilitatea</span> și
      <span class="bold">eficiența</span>. Dcbytes oferă expertiză în trei
      domenii esențiale:
      <span class="bold"
        >dezvoltare web, optimizare pentru motoarele de căutare (SEO)</span
      >, și <span class="bold">integrare e-commerce</span> pentru creșterea
      vânzărilor.</span
    >
  </app-hero-description>

  <app-services></app-services>
</div>
