<div class="promo-description-container">
  <div class="title-description-button-container">
    <h4 class="promo-title bold">{{ promoTitle }}</h4>
    <span class="promo-description">{{ promoDescription }}</span>
    <a [href]="buttonLink" pageScroll
      ><button class="secondary md">{{ buttonText }}</button></a
    >
  </div>
  <div class="promo-img-container">
    <ng-container *ngIf="promoLottie; else imageTemplate">
      <ng-lottie *ngIf="lottieOptions" [options]="lottieOptions"></ng-lottie>
    </ng-container>
    <ng-template #imageTemplate>
      <img [src]="promoImage" [alt]="promoTitle" />
    </ng-template>
  </div>
</div>
